- title "About"

.view
<h1>NEOreka!</h1>

<p>This project aims to create a social network for those planet hunters who spend hours glued to those Barlows in search of little planets and NEOs. It's meant to promote discussion and vetting of new finds with the ultimate goal of giving that much-needed fast-forward to amateur planet-hunting.</p>

<p>The <a href="http://spaceappschallenge.org/project/neoreka/">NASA project spec</a></p>

<p>The <a href="http://spaceappschallenge.org/challenge/citizen-generated-database-near-earth-objects">project on NASA</a></p>

<p>The <a href="http://neoreka.herokuapp.com">Heroku instance (may not work)</a></p>



- content_for :sidebar do
	ul.nav.nav-pills.nav-stacked
        li
          a href="https://github.com/Awesoham/NEOreka" NEOreka on GitHub
        li
          a href="http://spaceappschallenge.org/project/neoreka/" The project spec
  